@import 'tailwindcss';

html {
  overflow: hidden; /* Prevents page moving when slides are navigated with arrow keys */
}

@keyframes slide-in {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes slide-in-reverse {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-out-reverse {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes slide-to-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-to-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Demo 3 */
::view-transition-new(description) {
  animation: slide-to-left 0.5s ease-in-out;
}
::view-transition-old(description) {
  /* animation: slide-to-right 0.5s ease-in-out; */
}

::view-transition-old(.slow-fade) {
  animation-duration: 500ms;
}

::view-transition-new(.slow-fade) {
  animation-duration: 500ms;
}

.playground {
  display: block;
  position: absolute;
  top: 0.5rem;
  right: -50rem;
  width: 50rem;
  transition: right 0.2s ease-in-out;

  white-space: pre-wrap;
  background-color: rgba(0, 0, 0, 0.9);
  font-family: monospace;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  border-radius: 0.5rem;

  &:focus {
    right: 0.5rem;
  }

  &:before {
    position: absolute;
    content: '⏴';
    top: 5px;
    left: -35px;

    color: #777;
    padding: 0.1rem 0.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: inherit;
  }
}

/* Debug */

/* header,
footer {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
} */
