@import 'tailwindcss';

html {
  overflow: hidden; /* Prevents page moving when slides are navigated with arrow keys */
}

@keyframes slide-in {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.playground {
  position: absolute;
  top: 0.5rem;
  right: -475px;
  display: block;
  /* display: none; */
  white-space: pre;
  background-color: rgba(0, 0, 0, 0.9);
  font-family: monospace;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  border-radius: 0.5rem;
  transition: right 0.2s ease-in-out;

  &:before {
    content: '⏴';
    color: #777;
    position: absolute;
    top: 5px;
    left: -35px;
    padding: 0.1rem 0.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: inherit;
  }

  &:focus {
    right: 0.5rem;
  }
}

/* Debug */

/* header,
footer {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
} */
